@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark --default;
}

* {
  font-family: var(--font-kanit), sans-serif;
  box-sizing: border-box;
}

.nunito {
  font-family: var(--font-nunito), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
video {
  max-width: 100%;
  height: auto;
}
