@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark --default;
}

* {
  font-family: "Kanit", sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.bg-anim {
  background-image: url("/vdo/bg.mp4");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}